h1, h3, div, a, p, span, section{
    text-align: center;
    border: 1px solid orchid;
    background-color: lightblue;
}

.block{
    display: block;
    margin-top: 10%;
    background-color: blue;
    color: aliceblue;
}

.inline{
    display: inline;
}