td {
    width: 20px;
    height: 20px;
}

table{
    margin: auto;
    border-collapse: collapse;
}

.yellow {
    background-color: yellow;
}

.black{
    background-color: black;
}

.withe{
    background-color: white;
}
